
/* SegmentedControl */
.segmented-control-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    font-size: 12px;
    font-family: 'gotham-medium';
    font-weight: 400;
    background-color: #EEEEEE;
    margin-top: 12px;
    padding: 4px;
    border-radius: 20px;
}
.segmented-control-container input {
    display: none;
    background-color: #EEEEEE;
}
.segmented-control-container label {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding: 6px;
    background-color: #EEEEEE;
    color: #666666;
    margin-right: 1px;
    cursor: pointer;
    border-radius: 20px;
}

.segmented-control-container input[type="radio"]:checked+label {
    background-color: #FFF;
    color: #000;
}